<div class="jumbotron">
  <h1><img src="<%= image_path('Marvel-logo.png')%>"> Comics Data</h1>
</div>


<div>
  <h4>Bonus: Popularity Chart (by number of series)</h4>

  <%= bar_chart( Character.chartData ) %>

</div>
