<h1>Marvel Comics Data</h1>

(1) Here is a hash containing data for the five characters:

<p>
  <%= Character.characters %>
</p>

(2) Sorting
(a) By comics:
<p>
  <%= Character.sortByValue(:comics) %>
</p>

(b) By series:
<p>
  <%= Character.sortByValue(:series) %>
</p>

(c) By stories:
<p>
  <%= Character.sortByValue(:stories) %>
</p>
